<ion-content fullscreen>
    <ion-searchbar animated (ionChange)="search()" [(ngModel)]="searchValue" placeholder="Pesquisar setor"></ion-searchbar>
  <ion-list>
        <ion-list-header>
          Listagem de setores
        </ion-list-header>
        <ion-item *ngFor="let setor of setores | async" (click)="selectSetor(setor.id)">
          <ion-label>
            <h2>{{setor.nome}}</h2>
          </ion-label>
        </ion-item>
    </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="adicionar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
